@font-face {
  font-family: 'misoregular';
  src: url("../fonts/miso-webfont.woff2") format("woff2"), url("../fonts/miso-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 36, ../../sass/sass/style.scss */
body {
  font-family: 'montserratregular';
  color: #564026;
}

/* line 41, ../../sass/sass/style.scss */
header {
  background-color: red;
  width: 500px;
  height: 500px;
}
