.formulaireSelection {
  font-family: 'Montserrat';

  .formulaireMain{
    height: 1200px;
    width: 100%;


    .formulaireLeft{
      width: 75%;
      height: 100%;

      h3 {
        font-size: 2.5em;
        text-align: left;
      }
      form {
        margin-left: 2%;
        margin-top: 4%;

        .form-group {
          height: 50px;

          label {
            float: left;
            margin-bottom: 1%;
              textarea {
                margin-bottom: 2%;
              }

            input{
              float: right;
            }
          }
        }
      }
      button {
        display: block;
        margin-left:auto;
        margin-right: auto;
        margin-top: 2%;
        width: 40%;
        height: 100%;
        box-shadow: 2px 2px 2px black;
        border: 2px solid black;
        font-family: 'Montserrat';
        font-size: 1.2em;
        
      }

    }

    .formulaireRight {
      background: linear-gradient(to bottom, #aadbdb 0%,#aadbdb 50%,#ffffff 100%);
      height: 100%;
      width: 25%;
      text-align: center;
      padding-top: 5%;
      h2 {
        padding-bottom: 10%;
      }
      p {
        font-size: 1.2em;
      }
      a {
        font-size: 1.2em;
      }

    }
  }
}
// $break-small: 320px;
// $break-medium: 790px;
//
//
//   @media screen and (max-width: $break-small) {
//     .formulair {
//       display: block;
//     }
//     .formu {
//     width: 100%;
//     display: block;
//   }
// }
//   @media screen and (max-width: $break-medium) {
//     .formu {
//     width: 100%;
//     float: left;
//   }
// }
