// header
$bleu1  : #AADBDB;
$bleu2  : #C4D2FC;
$bleu3  : #00338d;
$bleu4  : #0B0036;
$gris1  : #bbb;
$gris2  : #8791a4;
$rose1  : #db4d69;
$marron : #564026;
$blanc	: white;
$blanc2 : #f6f3ed;


@font-face {
    font-family: 'misoregular';
    src: url('../fonts/miso-webfont.woff2') format('woff2'),
         url('../fonts/miso-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'montserratregular';
	color: $marron;
}



.container-fluid	 {
	padding-left: 0px;
	padding-right : 0px;
}

.marron {
	color: $marron;
}

.container {
	//width: 1000px!important;
	.row {
		margin: 0px;
		padding: 0px;

    .intro {
			font-family: 'montserratregular';
			color: $marron;
			font-size: 1.2em;
			line-height: 2em;
			float: left;
			margin-bottom: 20px;
		}
	}

	section {
		padding: 0px;
		.libellule {
			width: 100px;
			height: 79px;
			background-image: url("../img/libellule_bleue.png" );
			margin-top: 100px;
			margin-left: 20px;
			transform: rotate(-17deg);
		}
  }

	h1 {
  	font-family: 'misoregular';
	  color: $bleu3;
	  font-size: 3em;
  }
}

.contenu {
	margin: auto;

  	header {
  		height: 120px;
  		width: 100%;
  	  background-color: $bleu3;
  		border-bottom : 5px solid $gris1;
  		z-index: 100;
  		display: block;

  		.logo {
  		  float: left;
  			//padding: 15px;
      	padding: 14px 0px 15px 35px;
  		}

  		.navbar-header {
  			float: none;
  		}

  		.navbar-right {
  			float: right !important;
  			margin-right: 0px;
  		}

  		nav ul{
  			font-family: 'misoregular';
  			color: $bleu3;
  			margin-top: 40px;
  			background-color: $blanc;

  		.menu {
    			&:nth-child(1) {
    				border-bottom : 5px solid $gris2;
    			}
    			&:nth-child(2) {
    				border-bottom : 5px solid $bleu1;
    			}
    			&:nth-child(3) {
    				border-bottom : 5px solid $rose1;
    			}
  			width: 181px;

  			a{
  				font-size: 18pt;
  				letter-spacing: -1px;
  				text-transform: uppercase;
  				text-align: center;
  				width: 100%;
  				color: $bleu3;
  			}

  			.dropdown-menu {
  				background-color: $blanc2;
  				width: 280px;
  				font-family: 'montserratregular';
  				padding: 15px;

          a{
    				color: $marron;
    				text-transform: initial;
    				font-weight: normal;
    				text-align: left;
    				border-bottom: 1px solid $blanc;
    				//width: 90%;
    				font-size: 20px;
    				margin-top: 10px;
    				margin-bottom: 10px;
    				margin-left: 0px;
    				margin-right: auto;

              &:hover {
    						//font-weight: 100;
    						color : $rose1;
    						border-bottom: 5px solid $rose1;
    					}
    					&:last-child {
    						//	border-bottom: none;
    					}
    			  }
			  }

			  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
					  background-color: $blanc2;
					  border-color: $blanc2;
			  }
		  }
	  }
  }
}


.header {
	height: 120px;
	width: 100%;
  display: inline-block;
  background-color: $bleu3;
	border-bottom : 5px solid $gris1;
	z-index: 1000;
}
