/* line 1, ../../sass/sass/faq.scss */
.introHome {
  font-family: 'montserratregular', sans-serif;
  margin: 20px;
}
/* line 5, ../../sass/sass/faq.scss */
.introHome h1 {
  color: #00338d;
}
/* line 7, ../../sass/sass/faq.scss */
.introHome h1 .marron {
  color: #564026;
}
/* line 11, ../../sass/sass/faq.scss */
.introHome p {
  color: #00338d;
  font-size: 1.5em;
}

/* line 17, ../../sass/sass/faq.scss */
.panels-faq {
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}
/* line 22, ../../sass/sass/faq.scss */
.panels-faq h3 {
  color: #00338d;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
/* line 28, ../../sass/sass/faq.scss */
.panels-faq h3:hover {
  color: #db4d69;
  text-decoration: none;
}

/* line 35, ../../sass/sass/faq.scss */
.panel-body {
  background-color: beige;
}

/* line 39, ../../sass/sass/faq.scss */
.panel-group .panel-heading {
  border-bottom: 5px solid #db4d69;
}
