@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
/* line 44, ../../sass/sass/style.scss */
body {
  font-family: 'montserratregular';
  color: #564026;
}

/* line 56, ../../sass/sass/style.scss */
.contenu {
  margin: auto;
}
/* line 59, ../../sass/sass/style.scss */
.contenu header {
  height: 120px;
  width: 100%;
  background-color: #00338d;
  border-bottom: 5px solid #bbb;
  z-index: 100;
  display: inline-block;
}
/* line 67, ../../sass/sass/style.scss */
.contenu header .logo {
  float: left;
  padding: 14px 0px 15px 35px;
}
/* line 73, ../../sass/sass/style.scss */
.contenu header .navbar-header {
  float: none;
}
/* line 77, ../../sass/sass/style.scss */
.contenu header .navbar-right {
  float: right !important;
  margin-right: 0px;
}
/* line 83, ../../sass/sass/style.scss */
.contenu header nav ul {
  font-family: "Open+Sans:300", sans-serif;
  color: #00338d;
  margin-top: 40px;
  background-color: white;
}
/* line 89, ../../sass/sass/style.scss */
.contenu header nav ul .menu {
  width: 181px;
}
/* line 90, ../../sass/sass/style.scss */
.contenu header nav ul .menu:nth-child(1) {
  border-bottom: 5px solid #8791a4;
}
/* line 93, ../../sass/sass/style.scss */
.contenu header nav ul .menu:nth-child(2) {
  border-bottom: 5px solid #AADBDB;
}
/* line 96, ../../sass/sass/style.scss */
.contenu header nav ul .menu:nth-child(3) {
  border-bottom: 5px solid #db4d69;
}
/* line 101, ../../sass/sass/style.scss */
.contenu header nav ul .menu a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #00338d;
}
/* line 111, ../../sass/sass/style.scss */
.contenu header nav ul .menu .dropdown-menu {
  background-color: #f6f3ed;
  width: 280px;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}
/* line 117, ../../sass/sass/style.scss */
.contenu header nav ul .menu .dropdown-menu a {
  color: #564026;
  text-transform: initial;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: auto;
}
/* line 130, ../../sass/sass/style.scss */
.contenu header nav ul .menu .dropdown-menu a:hover {
  color: #db4d69;
  border-bottom: 5px solid #db4d69;
}
/* line 140, ../../sass/sass/style.scss */
.contenu header nav ul .menu .nav .open > a, .contenu header nav ul .menu .nav .open > a:focus, .contenu header nav ul .menu .nav .open > a:hover {
  background-color: #f6f3ed;
  border-color: #f6f3ed;
}

/* line 149, ../../sass/sass/style.scss */
.header {
  height: 120px;
  width: 100%;
  display: inline-block;
  background-color: #00338d;
  border-bottom: 5px solid #bbb;
  z-index: 1000;
}

/* line 161, ../../sass/sass/style.scss */
#accueil .row {
  margin: 0px;
  padding: 0px;
}
/* line 164, ../../sass/sass/style.scss */
#accueil .row h1 {
  font-family: "Open+Sans:300", sans-serif;
  color: #00338d;
  font-size: 3em;
}
/* line 168, ../../sass/sass/style.scss */
#accueil .row h1 .marron {
  color: #564026;
}
/* line 181, ../../sass/sass/style.scss */
#accueil .libelluleHead {
  width: 100px;
  height: 79px;
  background-image: url("../../img/libellule_bleue.png");
  margin-top: 100px;
  margin-left: 20px;
  transform: rotate(-17deg);
}

/* line 191, ../../sass/sass/style.scss */
section .axes {
  background-color: #AADBDB;
  height: 650px;
  flex-wrap: nowrap;
  text-shadow: 1px 1px 1px #6a6a6a;
}
/* line 197, ../../sass/sass/style.scss */
section .axes .axe {
  width: 377px;
  height: 650px;
  float: left;
  color: white;
  text-align: center;
  display: block;
  cursor: pointer;
}
/* line 206, ../../sass/sass/style.scss */
section .axes .axe a {
  color: white;
}
/* line 209, ../../sass/sass/style.scss */
section .axes .axe h2 {
  color: white;
}
/* line 211, ../../sass/sass/style.scss */
section .axes .axe h2:hover {
  color: white;
  text-decoration: none;
}
/* line 216, ../../sass/sass/style.scss */
section .axes .axe div img {
  height: 460px;
  width: 100%;
  overflow: hidden;
}
/* line 220, ../../sass/sass/style.scss */
section .axes .axe div img:hover {
  opacity: 0.8;
}
/* line 224, ../../sass/sass/style.scss */
section .axes .axe:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 1px 2px 3px white;
  -moz-box-shadow: 0px 1px 2px 3px white;
  box-shadow: 0px 1px 2px 3px white;
}
/* line 229, ../../sass/sass/style.scss */
section .axes .axe:hover a {
  text-decoration: none;
}
/* line 234, ../../sass/sass/style.scss */
section .axes h2 {
  font-family: "Open+Sans:300", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 239, ../../sass/sass/style.scss */
section .axes h2 a:hover {
  color: white;
}
/* line 242, ../../sass/sass/style.scss */
section .axes h3 {
  font-family: "Open+Sans:300", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 247, ../../sass/sass/style.scss */
section .axes p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin-top: 0px;
}
/* line 252, ../../sass/sass/style.scss */
section .axes .logement {
  border-top: 5px solid #db4d69;
  background-color: #db4d69;
}
/* line 255, ../../sass/sass/style.scss */
section .axes .logement h2 {
  font-size: 3.5em;
  margin-bottom: 0px;
  margin-top: 30px;
}
/* line 260, ../../sass/sass/style.scss */
section .axes .logement p {
  font-size: 1.3em;
  margin-top: 0px;
}
/* line 266, ../../sass/sass/style.scss */
section .axes .education {
  border-top: 5px solid #00338d;
  background-color: #00338d;
}
/* line 269, ../../sass/sass/style.scss */
section .axes .education h2 {
  font-size: 2.8em;
  margin-bottom: 35px;
  margin-top: 35px;
}
/* line 274, ../../sass/sass/style.scss */
section .axes .education p {
  font-size: 1.3em;
  padding-bottom: 15px;
  margin-top: -15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  width: 70%;
}
/* line 285, ../../sass/sass/style.scss */
section .axes .sante {
  border-top: 5px solid #C4D2FC;
  background-color: #C4D2FC;
}
/* line 288, ../../sass/sass/style.scss */
section .axes .sante h2 {
  font-size: 2.8em;
  margin-top: 5px;
}
/* line 292, ../../sass/sass/style.scss */
section .axes .sante h3 {
  font-size: 3.5em;
  margin-bottom: 0px;
  margin-top: -20px;
}
/* line 297, ../../sass/sass/style.scss */
section .axes .sante p {
  font-size: 1.3em;
  margin-top: -5px;
  padding-bottom: 15px;
  text-shadow: 1px 1px 1px black;
}

/* line 306, ../../sass/sass/style.scss */
section.citation {
  background-color: #f6f3ed;
  width: 100%;
}
/* line 310, ../../sass/sass/style.scss */
section.citation .citation_image {
  display: block;
  background-image: url("../../img/femme.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 525px;
}
/* line 317, ../../sass/sass/style.scss */
section.citation .citation_texte {
  font-family: "Open+Sans:300", sans-serif;
  color: #00338d;
  font-size: 3em;
  letter-spacing: -0.05em;
  position: absolute;
  margin-top: -350px;
  margin-left: 530px;
  line-height: 55px;
}
/* line 328, ../../sass/sass/style.scss */
section.citation .auteur {
  font-family: "Montserrat", sans-serif;
  color: #564026;
  font-size: 1.5em;
  margin-left: 445px;
  margin-top: -50px;
  letter-spacing: -0.05em;
}
/* line 336, ../../sass/sass/style.scss */
section.citation .libellule_blanche {
  width: 200px;
  height: 200px;
  background-image: url("../../img/libellule_blanche.png");
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -150px;
  right: 400px;
}

/* line 347, ../../sass/sass/style.scss */
section.slider_projets {
  background-color: #f6f3ed;
  padding-bottom: 50px;
}

/* line 355, ../../sass/sass/style.scss */
footer {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 180%;
  height: 480px;
  width: 100%;
  background: #007c92;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #8791a4 0%, #C4D2FC 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg, #8791a4 0%, #C4D2FC 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg, #8791a4 0%, #c4d2fc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c92', endColorstr='#aadbdb',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c92+0,aadbdb+100 */
}
/* line 373, ../../sass/sass/style.scss */
footer .row {
  margin-right: 0px;
  margin-left: 0px;
}
/* line 377, ../../sass/sass/style.scss */
footer .row .adresse {
  color: white;
  text-align: right;
  width: 50%;
  height: 300px;
  border-right: 1px solid white;
  padding-right: 50px;
  margin-top: 30px;
  float: left;
}
/* line 386, ../../sass/sass/style.scss */
footer .row .adresse h4 {
  font-size: 22px;
}
/* line 390, ../../sass/sass/style.scss */
footer .row .logofooter {
  margin-top: 64px;
  margin-left: 45px;
  float: left;
}

/* line 400, ../../sass/sass/style.scss */
.contact h1 {
  color: #00338d;
  font-size: 3em;
}
/* line 405, ../../sass/sass/style.scss */
.contact .bureaux h2 {
  font-family: "Montserrat", sans-serif;
}
/* line 408, ../../sass/sass/style.scss */
.contact .bureaux p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
/* line 412, ../../sass/sass/style.scss */
.contact .bureaux .formulair {
  display: inline-flex;
}
/* line 416, ../../sass/sass/style.scss */
.contact .bureaux .formulair form {
  margin-left: 50px;
  font-family: "Montserrat", sans-serif;
}
/* line 420, ../../sass/sass/style.scss */
.contact .bureaux .formulair form label {
  margin-bottom: 25px;
  margin-top: 1%;
  margin-right: 1%;
  font-family: "Montserrat", sans-serif;
}
/* line 427, ../../sass/sass/style.scss */
.contact .bureaux .formulair form input {
  margin-bottom: 30px;
  margin-right: 2%;
}
/* line 431, ../../sass/sass/style.scss */
.contact .bureaux .formulair form textarea {
  width: 600px;
  height: 200px;
}

@media screen and (max-width: 320px) {
  /* line 444, ../../sass/sass/style.scss */
  .formulair {
    display: block;
  }

  /* line 447, ../../sass/sass/style.scss */
  .formu {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 790px) {
  /* line 453, ../../sass/sass/style.scss */
  .formu {
    width: 100%;
    float: left;
  }
}
